.HobbieCard{
    margin: 0.5rem;

    width: 18vw;
    height: 40vh;
    position: relative;
}

.H_faces{
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 1.5s;
    width: 100%;
    height: 100%;

    border: 2px solid #DFF6FF;
    border-radius: 5px;
    
}

.HobbieCard__front{
    transform: perspective(600px) rotateY(0deg);
}

.HobbieCard__front__img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HobbieCard__front__h2{
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(0,0,0,.4);
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.HobbieCard__back__h2{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    justify-content: center;
    display: flex;
    align-items: center;
}

.HobbieCard__back{
    transform: perspective(600px) rotateY(180deg);
    background: #06283D;
}

.HobbieCard__back__p{
    font-size: 0.8rem;
    text-align: justify;
    margin: 3rem 1.5rem 0rem 1.5rem;
}

.HobbieCard:hover .HobbieCard__front{
    transform: perspective(600px) rotateY(180deg);
}

.HobbieCard:hover .HobbieCard__back{
    transform: perspective(600px) rotateY(360deg);
}