:root{ --swiper-theme-color : #DFF6FF !important}
body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-size: 1.2rem;
    /* font-family: 'Hind Madurai', sans-serif;
    font-family: 'Ubuntu', sans-serif; */
}

.textUbuntu{
    font-family: 'Ubuntu', sans-serif; 
}

.tR_medium{
    font-size:  calc(0.8em + 0.8vw);
    line-height: 1.1em;
}

.tR_small{
    font-size:  calc(0.5em + 0.7vw);
    line-height: 1em;
}
.tR_large{
    font-size:  calc(1.3em + 1.5vw);
    line-height: 1em;
}
.tR_Xlarge{
    font-size:  calc(1.5em + 1.8vw);
    line-height: 1em;
}

.tR_XXlarge{
    font-size:  calc(2em + 2vw);
    line-height: 1em;
}
.tR_XXLlarge{
    font-size:  calc(2.3em + 2.2vw);
    line-height: 1em;
}